{% extends "base.html" %}
{% block title %} Verify Email {% endblock %}

{% block content %}

    <section class="bg-gray-50  dark:bg-gray-900">
    	 <div class="flex flex-col h-screen items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        	 <div class="w-full bg-teal-500 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                 <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                     <p class="text-sm">An email has been sent with instructions to reset your password. Follow the instructions to complete your password reset.</p>
            	</div>
        	</div>
    	</div>
	</section>
	 
	<div class = "">
		
	</div>

{% endblock %}