{% extends "base.html" %}

{% load static %}


{% block content %}


<section class="bg-center h-screen bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] bg-gray-700 bg-blend-multiply">

  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 py-56 lg:py-56">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-5xl">We Focus on Sharing Resources - Globally</h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Share, Discover, and Connect with Linkshare. Whether you want to share interesting articles, useful resources, or your favorite websites, Linkshare is here to make link sharing effortless and enjoyable.</p>
      <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
          <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
              Get started
              <svg aria-hidden="true" class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
          <a href="#" class="inline-flex justify-center hover:text-gray-900 items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg border border-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-400">
              Learn more
          </a>  
      </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white">Sharing large files can be boring</h2>
          <p class="mb-4">Sharing large files can be a pain. You have to find a way to compress them, or you have to email them in multiple parts. And even then, the recipient might have trouble downloading them. What if there was a better way?</p>
          <p>What if we could convert our files into links and then share those links instead? That would be so much easier! The recipient would just click on the link and they would be able to download the file right away. No more compression, no more multiple emails, no more headaches.</p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
          <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
          <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
      </div>
  </div>
</section>

<section class="bg-gray-50 dark:bg-gray-900 dark:bg-gray-800">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="max-w-screen-lg text-gray-500 sm:text-lg dark:text-gray-400">
          <h2 class="mb-4 text-4xl font-bold text-gray-900 dark:text-white">The Benefits of <span class="font-extrabold">Sharing</span> Files via Links</h2>
          <p class="mb-4 font-light">In today's digital world, it is more important than ever to be able to share files easily and securely. Email attachments are a common way to share files, but they can be problematic. Email attachments can be large and slow to download, and they can also be a security risk.</p>
          <p class="mb-4 font-medium">There are many different file-sharing services available, so you can choose one that best meets your needs. Some popular file-sharing services include Google Drive, Dropbox, and WeTransfer. These services offer a variety of features, such as file size limits, storage space, and security options.</p>
          <a href="#" class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
              Learn more
              <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </a>
      </div>
  </div>
</section>





{% endblock content %}