{% extends 'base.html' %}

{% block content %}

<div class="pt-24 dark:text-gray-400 mx-24">
    
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    #ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Link
                </th>
                <th scope="col" class="px-6 py-3">
                    Posted
                </th>
                <th scope="col" class="px-6 py-3">
                    Edit
                </th>
            </tr>
        </thead>
        
        <tbody>
            {% for link in link_list %}
            <tr class="bg-white dark:bg-gray-800 border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ link.id }}.
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ link.name }}
                </th>
                <td class="px-6 py-4">
                    <a href="{{ link.url }}" class="inline-flex items-center font-medium text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-700">
                        {{ link.url }}
                    </a>
                </td>
                <td class="px-6 py-4">
                    {{ link.date_added | timesince }} ago
                </td>
                <td class="px-6 py-4">
                    Edit
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>

</div>

{% endblock content %}


